

# Evaluate the Ad Budget Dataset of XYZ Firm

#### 1: Import the dataset

In [1]:
#Import the required libraries
import pandas as pd

In [4]:
#Import the advertising dataset
ad_data=pd.read_csv('Advertising Budget and Sales.csv',index_col=0)
df_adv_data=pd.DataFrame(ad_data)

#### 2: Analyze the dataset

In [5]:
#View the initial few records of the dataset
df_adv_data.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [7]:
#Check the total number of elements in the dataset
df_adv_data.size

800

#### 3: Find the features or media channels used by the firm

In [8]:
#Check the number of observations (rows) and attributes (columns) in the dataset
df_adv_data.shape

(200, 4)

In [15]:
#View the names of each of the attributes
df_adv_data.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [17]:
#Create a feature object from the columns
x_feature = df_adv_data[['Newspaper Ad Budget ($)','Radio Ad Budget ($)','TV Ad Budget ($)']]

In [18]:
#View the feature object
x_feature.head()

   Newspaper Ad Budget ($)  Radio Ad Budget ($)  TV Ad Budget ($)
1                     69.2                 37.8             230.1
2                     45.1                 39.3              44.5
3                     69.3                 45.9              17.2
4                     58.5                 41.3             151.5
5                     58.4                 10.8             180.8

In [21]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
y_target=df_adv_data[['Sales ($)']]

In [22]:
#View the target object
y_target.head()

   Sales ($)
1       22.1
2       10.4
3        9.3
4       18.5
5       12.9

In [23]:
#Verify if all the observations have been captured in the feature object
x_feature.shape

(200, 3)

In [24]:
#Verify if all the observations have been captured in the target object
y_target.shape

(200, 1)

#### 5: Split the original dataset into training and testing datasets for the model

In [28]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_feature,y_target)

In [31]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(150, 3)
(50, 3)
(150, 1)
(50, 1)

#### 6: Create a model  to predict the sales outcome

In [33]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression
linreg=LinearRegression()
linreg.fit(x_train,y_train)

LinearRegression()

In [34]:
#Print the intercept and coefficients 
print(linreg.intercept_)
print(linreg.coef_)

[2.83649526]
[[-0.00156512  0.1837918   0.04705658]]

In [37]:
#Predict the outcome for the testing dataset
y_pred = linreg.predict(x_test)
y_pred

array([[17.16826246],
       [14.81645711],
       [21.74052349],
       [21.06425094],
       [12.04049403],
       [14.96894925],
       [17.76119516],
       [12.74842329],
       [ 9.77365211],
       [13.49315051],
       [10.08646819],
       [10.58191634],
       [ 6.30230164],
       [ 7.77911236],
       [19.45632392],
       [ 8.27976173],
       [ 9.03550174],
       [15.40946729],
       [ 5.90371023],
       [ 8.75238682],
       [14.81163035],
       [15.40869017],
       [18.64726753],
       [20.44426293],
       [13.72265495],
       [13.23787364],
       [12.01282987],
       [15.78159691],
       [13.93097421],
       [17.3791451 ],
       [19.2659703 ],
       [ 9.31974297],
       [17.46460907],
       [20.93402704],
       [ 7.42641232],
       [18.12110814],
       [12.57528734],
       [ 7.79125457],
       [15.16211695],
       [12.43943716],
       [15.36245243],
       [12.86475732],
       [17.25608666],
       [ 7.10923702],
       [16.245861  ],
       [16.64458823],
       [ 8.83661256],
       [20.71542524],
       [ 6.4822043 ],
       [24.78845975]])

#### 7: Calculate the Mean Square Error (MSE)

In [39]:
#Import required libraries for calculating MSE (mean square error)
from sklearn import  metrics
import numpy as np

In [40]:
#Calculate the MSE
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

1.3731067364343446

In [43]:
#Accuracy of the Model
print('Actual Value:', y_test[0:10])
print()
print('Predicted Value:', y_pred[0:10])

Actual Value:      Sales ($)
28        15.9
82        12.3
43        20.7
70        22.3
68        13.4
124       15.2
106       19.2
58        13.2
146       10.3
168       12.2

Predicted Value: [[17.16826246]
 [14.81645711]
 [21.74052349]
 [21.06425094]
 [12.04049403]
 [14.96894925]
 [17.76119516]
 [12.74842329]
 [ 9.77365211]
 [13.49315051]]